body {
    background: #f0eaf0;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav, .btn, footer {
    background: rgb(60, 44, 73);
}

.btn {
    border: rgb(22, 16, 27) solid 1px;
}

#carouselMain .carousel-item img {
    background: no-repeat top center;
    background-size: cover;
    height: 70vh;
    object-fit: cover;
    overflow: hidden;
}

#carouselMain .carousel-caption {
    top: 20%;
    color: white;
    text-shadow: black 1px 1px;
    font-weight: bold;
}

.deals-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;

}

.deals-container .card {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 1fr 2fr 2fr;
}

.deals-container .card img {
    grid-row: 1;
    height: 15vh;
}

.deals-container .card h1 {
    grid-row: 2;
}

.deals-container .card h6 {
    grid-row: 3;
}

.deals-container .card .btn {
    grid-row: 4;
}

a.cart {
    margin: 10px;
}